/* Error: expected "{".
 *    ,
 * 26 |   --colors.background: var(--blue1);
 *    |                                    ^
 *    '
 *   dappspec/colors.scss 26:36   @use
 *   dappspec/_core.sass 13:1     @use
 *   dappspec/dappspec.sass 10:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 26 \2502    --colors.background: var(--blue1);\a    \2502                                     ^\a    \2575 \a   dappspec/colors.scss 26:36   @use\a   dappspec/_core.sass 13:1     @use\a   dappspec/dappspec.sass 10:1  root stylesheet';
}
